<hr class="m-0" />
      <!-- Educacion-->
      <section class="resume-section" id="education">
          <div class="resume-section-content">
              <h2 class="mb-5">Educación </h2>
              <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                  <div class="flex-grow-1">
                      <h3 class="mb-0">Universidad Tecnológica Nacional</h3>
                      <div class="subheading mb-3">Tecnico en Programación</div>
                      <div>full stack</div>
                      
                  </div>
                  <div class="flex-shrink-0"><span class="text-primary">Marzo - 2021 - en curso</span></div>
              </div>
              <div class="d-flex flex-column flex-md-row justify-content-between">
                  <div class="flex-grow-1">
                      <h3 class="mb-0">Instituto provincial de educación física</h3>
                      <div class="subheading mb-3">Profesor de Educación Física</div>
                      
                  </div>
                  <div class="flex-shrink-0"><span class="text-primary">Marzo 2009 - 2015</span></div>
              </div>
          </div>
      </section>
