<!-- Acerca de mi-->
<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Juarez
            <span class="text-primary">Gonzalo Ezequiel</span>
        </h1>
        <div class="subheading mb-5">
            Buenos Aires 129 · La Bolsa, CP 5189 · (3547)560199 ·
            <a href="mailto:name@email.com">pefgonzalojuarez@gmail.com</a>
        </div>
        <p class="lead mb-5">Estudiante de Tecnicatura en Programación. Soy una persona responsable, dinámica, con facilidad de adaptación y trabajo en equipo.  Proactivo, con muy buenas habilidades comunicativas y sociales. </p>
        <div class="social-icons">
            <a class="social-icon" href="https://www.linkedin.com/in/gonzalo-juarez2021/"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="https://github.com/gonzaloUtn"><i class="fab fa-github"></i></a>
            
            
        </div>
    </div>
</section>
