<hr class="m-0" />
      <!-- Experiencia-->
      <section class="resume-section" id="experience">
          <div class="resume-section-content">
              <h2 class="mb-5">Experiencia</h2>
              <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                  <div class="flex-grow-1">
                      <h3 class="mb-0">Repositor Externo</h3>
                      <div class="subheading mb-3">Danone, La Serenisima</div>
                      <p>Reponer productos lacteos de la empresa en gondolas de supermercados y almacenes, control de stock</p>
                  </div>
                  <div class="flex-shrink-0"><span class="text-primary">Enero de 2018 (duracion 3 meses)</span></div>
              </div>
              <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                  <div class="flex-grow-1">
                      <h3 class="mb-0">Tallerista de grupo</h3>
                      <div class="subheading mb-3">Si Same</div>
                      <p>Desarrollar y armar actividades recreativas a residentes</p>
                  </div>
                  <div class="flex-shrink-0"><span class="text-primary">Marzo del 2018 a la actualidad</span></div>
              </div>
              <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                  <div class="flex-grow-1">
                      <h3 class="mb-0">Tareas Administrativas</h3>
                      <div class="subheading mb-3">Carolina Dipper Wellner Center</div>
                      <p>Atencion al cliente, cobro de cuotas y manejo de sistemas de control</p>
                  </div>
                  <div class="flex-shrink-0"><span class="text-primary">Marzo del 2016 a la actualidad</span></div>
              </div>
              
          </div>
      </section>
