<body id="page-top">
  <!-- navegacion-->
  <app-navegacion></app-navegacion>
  
  <div class="container-fluid p-0">
      <app-encabezado></app-encabezado>
      <app-experiencia></app-experiencia>
      <app-educacion></app-educacion>
      <app-skills></app-skills>
      <app-intereses></app-intereses> 
      
      
      
  </div>
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="js/scripts.js"></script>
</body>
